.footer {
	background-color: #ccc;
	padding: 10px;
	border-radius: 10px 10px 0 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	flex-grow: 0;
	flex-shrink: 0;
	flex-basis: auto;
}