.promo {

	&__items {
		margin-left: -5px;
		margin-right: -5px;
	}

	.col {
		padding: 0 5px;
		width: 16.66%;
		flex: 0 0 16.66%;
		text-align: center;

		@media (max-width: 1480px) {
			width: 20%;
			flex: 0 0 20%;
		}

		@include media-breakpoint-down(lg) {
			width: 25%;
			flex: 0 0 25%;
		}

		@include media-breakpoint-down(md) {
			width: 33.33%;
			flex: 0 0 33.33%;
		}

		@include media-breakpoint-down(sm) {
			width: 50%;
			flex: 0 0 50%;
		}

		@include media-breakpoint-down(xs) {
			width: 100%;
			flex: 0 0 100%;
		}
	}

	&__item {
		margin: 0 0 20px;
		display: block;
		width: auto;
		max-width: 100%;
		padding: 10px;
		width: auto;
		border-radius: 6px;
		box-shadow: 0 0 10px 0px rgba(0,0,0,0.15);
		transition: transform 0.3s, border-color .3s;
		background-color: #fff;
		overflow: hidden;
		transform: translateY(0px);
		outline: none;
		white-space: nowrap;
		position: relative;

		&:hover {
			transform: translateY(-10px);
			border-color: #D7D7D7;

			.btn {
				visibility: visible;
				opacity: 1;
			}
		}
		
		.btn {
			position: absolute;
			top: 5px;
			right: 5px;
			visibility: hidden;
			opacity: 0;
			transition: opacity 0.3s;
		}

		&-link {
			display: block;
			
			&:hover {
				color: #000;
				text-decoration: none;
			}
		}

		h5 {
			text-align: center;
			margin-bottom: 10px;
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
		}

		ul {
			padding-left: 10px;
			margin-bottom: 0;
		}

		li {
			overflow: hidden;
			text-overflow: ellipsis;
			width: 100%;
			text-align: left;
			margin-bottom: 5px;
		}

		@include media-breakpoint-down(md) {
			&:hover {
				transform: translateY(0);
				border-color: transparent;
			}
		}
	}
}