mixin sidebar()
	.sidebar
		.sidebar__btn-open
			span
			span
			span
			span
			span
			span
		.sidebar__items
			a.sidebar__item(href='')
				i.icon-phone
				span Телефония
			a.sidebar__item(href='')
				i.icon-envelop
				span СМС рассылка
			a.sidebar__item(href='')
				i.icon-email
				span e-mail рассылка
			a.sidebar__item(href='')
				i.icon-telegram
				span Телеграм боты