extends ./layout/index.pug

block content
	- for (var x = 0; x < 3; x++)
		.promo
			h2.promo__title Название группы
			.promo__items.row
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3 Название колонки 3
								li Название колонки 4
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
								li Название колонки 9
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
								li Название колонки 9
								li Название колонки 10
					.col
						a.promo__item(href='table.html')
							h5 Название таблици Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
					.col
						a.promo__item(href='table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3


append scripts

