extends ./layout/index.pug

block content
	h2.mb-3.text-center Редактирование таблиц
	ol.breadcrumb.mb-3
		li.breadcrumb-item
			a(href='index.html') Главная
		li.breadcrumb-item.active(aria-current='page') Редактирование таблиц
	.btn-group.mb-3
		button.btn.btn-primary(data-toggle="tooltip", data-placement="top", title="Создать группу")
			i.icon-plus
	- for (var x = 0; x < 3; x++)
		.tables-group
			.change-name.mb-3
				.change-name__name
					.d-flex
						h3.tables-group__title.mb-0.mr-auto Название группы
						.btn-group
							button.btn.btn-primary.modal-btn-show(data-toggle="tooltip", data-placement="top", title="Создать таблицу", data-target='#create-table')
								i.icon-plus
							button.btn.btn-primary.change-name__btn-show(data-toggle="tooltip", data-placement="top", title="Редактировать название")
								i.icon-pencil
							button.btn.btn-primary(data-toggle="tooltip", data-placement="top", title="Удалить группу")
								i.icon-bin
				.change-name__edit.hide
					.input-group
						input.form-control(type='text', placeholder='Название группы')
						.input-group-append
							button.btn.btn-primary(data-toggle="tooltip", data-placement="top", title="Сохранить")
								i.icon-check
							button.btn.btn-primary.change-name__btn-cancel(data-toggle="tooltip", data-placement="top", title="Отмена")
								i.icon-cross
			.tables-group__items.row
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3 Название колонки 3
								li Название колонки 4
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
								li Название колонки 9
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
								li Название колонки 8
								li Название колонки 9
								li Название колонки 10
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3
								li Название колонки 4
								li Название колонки 5
								li Название колонки 6
								li Название колонки 7
					.col
						a.tables-group__item(href='edit-table.html')
							h5 Название таблици
							ul
								li Название колонки 1
								li Название колонки 2
								li Название колонки 3


append scripts

